/* Styles go here */

.links line {
  stroke: 'red';
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: red;
  stroke-width: 1.5px;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-size: 600px ;
  font-size: 16px;

  background-image: url("yeezy-bear 8 alpha.png");
  background-repeat: no-repeat;
  background-position: 50% 50px; 

}

h1 {
line-height: 0.3em;
} 